.App {
  text-align: center;
}

/* .botones{
  background: rgb(33, 37, 41);
  color: grey;
  border: 1px solid grey;
  width: 300px;
 
} */
.botones{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s; 
  margin: 10px;
  width: 40%;
}
.botones:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  
}

body{
  background-image: url('./fondo.png');
  background-size: contain;
}
.btns{
  background: rgb(13, 110, 253);
  color: white;
  border: none;
  font-size: 20px;
  
}
.navbar{
  background: rgb(13, 110, 253);
}